.card(style='width: 18rem;').mr-3
  img.card-img-top(src=card.src alt=card.alt)
  .card-body
    h5.card-title= card.tittle
    p.card-text= card.description
    if(card.tittle && card.link)
      a.btn.btn-primary(href=card.link)= card.tittle
