.card(style='width: 18rem;').mr-3
  img.card-img-top(src=img_src alt=img_alt)
  .card-body
    h5.card-title= card_tittle
    p.card-text= card_description
    a.btn.btn-primary(href=card_link)= card_tittle
