
div.container
  include nb_searchBar.pug
  table.table.my-3.my-lg-0(id="problemTable") 
    thead.theadStyle
      tr
        th(scope='col') Nº 
        th.align-left(scope='col') Fecha
        th.align-left.td-hide(scope='col') Pared
        th.align-left(scope='col') Presas
        if(user)
          th Hecho
    tbody
      each problem in arrayProblems
        tr.trProblem(class = problem.done ? 'trProblemDone' : 'bg-light')
          td.d-none= `${problem.dificultyName} ${problem.number} ${problem.wallName} ${problem.holdColor}`
          td(onclick=`window.location='/boulders/details?difficultyName=${problem.dificultyName}&number=${problem.number}'`)
            div.align-center(style={'background-color': problem.color})= problem.number
          td.d-none(id='dateValue')= `${problem.dateValue}`
          td.small-hide= problem.date
          -const dateArray = problem.date.split('/')
          td.small-show= `${dateArray[0]}/${dateArray[1]}`
          td= problem.wallName
          
          td.small-hide= problem.holdColor
          td.small-show= problem.holdColorShort
          if(user)
            td
              input.d-none(type="checkbox", checked = false, disabled = true)
              input.d-none(type="checkbox", checked = problem.done, disabled = true)
              button(onclick = `boulderDone(this, "${problem._id}")`)= problem.done ? 'Quitar' : 'Marcar'