include searchBar.pug

div.container
  table.table.table-striped.my-3.my-lg-0(id="problemTable")
    thead.theadStyle
      tr
        th(scope='col') Número
        th(scope='col') Fecha
        th(scope='col') Pared
        th(scope='col') Presas
    tbody
      each problem in arrayProblems
        tr.trProblem(onclick=`window.location='/boulders/details?difficultyName=${problem.dificultyName}&number=${problem.number}'`)
          td(style={'display': 'none'})= `${problem.dificultyName} ${problem.number} ${problem.wallName} ${problem.holdColor}`
          td
            div(style={'background-color': problem.color, 'text-align': 'center', 'width': '60%'})= problem.number
          td= problem.date
          td= problem.wallName
          td= problem.holdColor