<%- include("templates/header", {tittle: 'Bloques'}) %> 
    <table class="table" style="max-width: 600px;">
        <tr>
            <th scope="col">Dificultad</th>
            <th scope="col">Número</th>
            <th scope="col">Fecha</th>
        </tr>

        
        <% arrayBloques.forEach(element => { %>
            <tr>
                <td><%- element.dificultyName %>  </td>
                <td><%- element.number %> </td>
                <td><%- element.date %> </td>
            </tr>
            <% }) %>
    </table>
<%- include("templates/footer") %> 