.card(style='max-width: 18rem;')
  if(card.src)
    img(src=card.src alt=card.alt)
  .card-container
    h2.card-title= card.tittle
    p.card-text!= card.description
    if(card.tittle && card.link)
      a.btn-primary(href=card.link) Ver todo
    if(card.list)
      ul
        each element in card.list
          li= element.name
    if(card.userList)
      ul
        each element in card.userList
          li
            a(href="/users/profile/"+element._id)= element.name        
